{% extends 'usuarios/base.html' %}
{% block conteudo %}
<form class="container" id="nota-form">
    {% csrf_token %}
<div class="form-group">
    <label for="titulo">Titulo</label>
    <input id = "titulo" type="text" class="form-control form-control-lg" placeholder="Digite um titulo a sua nota">
</div>
<div class="form-group">
    <label for="conteudo">Conteudo</label>
    <textarea id = "conteudo" class="form-control"  placeholder="Adicione algo a nota..."rows="3"></textarea>
</div>
<hr class="hr"/>
<button type="submit" class="btn btn-primary">Criar nota</button>
<hr class="hr"/>
</form>
<script type="text/javascript">
    $(document).on('submit', '#nota-form', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/save_nota',
        data:{
            titulo: $('#titulo').val(),
            conteudo: $('#conteudo').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data){
            
        }
    })
})
</script>
<div class="container">
{% if latest_nota %}
<ul>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for nota in latest_nota %}
    <div class="col">
        <form id="card-form">
            <div class="card">
                    <div class="card-body">
                        <p class="card-header">{{nota.id}}</p>
                        <h2 class="card-title">{{nota.titulo}}</h2>
                        <li class="card-text">{{nota.conteudo}}</li>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'delete_nota' nota.id %}" class="btn-outline-danger btn-sm">Remover</a>
                            <a href="{% url 'mod_nota' nota.id %}" class="btn btn-outline btn-sm">Modificar</a>
                        </div>
                    </div>
            </form>
            </div>
    </div>
    {% endfor %}
<!--<script type="text/javascript">
        $(document).on('submit', '#delete-button', function(e){
        e.preventDefault();
        $.ajax({
            type: 'DELETE',
            url: '/delete_nota',
            data:{
                ID : $('#card-header').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                
            }
        })
    })
</script>-->
</div>
</ul>
</div>
{% else %}
<p> Nehuma nota disponivel ainda...</p>
{% endif %}

{% endblock %}